.user-list{
  max-height: calc(100vh - 24px);
}
.user-email{
  font-weight: lighter;
  font-size: small;
}

.user-name{
  font-weight: 500;
  font-size: 16px;
}

.user-contact{
  font-weight: 300;
  font-size: medium;
}

.label{
  font-weight: normal;
  font-size: small;
}

mat-card{
  margin: 5px;
  cursor: pointer;
}

.padding-10{
  height: 40vh;
  padding: 10px;
}
