mat-card{
  margin: 5px;
  cursor: pointer;
}

.user-email{
  font-weight: lighter;
  font-size: small;
}

.user-name{
  font-weight: bold;
  font-size: large;
}

.user-contact{
  font-weight: 400;
  font-size: medium;
}

.label{
  font-weight: normal;
  font-size: small;
}

.mobile-status {
  font-weight: 200;
  padding-left: 20px;
}